SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:mysql://127.0.0.1:3306/signal_velocity_sms?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRATION=86400000
WEBHOOK_SECRET=replace-with-a-webhook-secret
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
RATE_LIMIT_ENABLED=true
RATE_LIMIT_REQUESTS_PER_MINUTE=120

BOOTSTRAP_ADMIN_ENABLED=false
CAMPAIGN_DISPATCH_DELAY=60000

SMS_DEFAULT_PROVIDER=orange-cm
SMS_FALLBACK_PROVIDER=demo
SMS_DEFAULT_SENDER_ID=SIGNALV

# Orange Cameroon standard offer
SMS_ORANGE_ENABLED=true
SMS_ORANGE_MODE=live
# Leave empty to use the default Orange sender name,
# or set Bipede only if Orange has approved and whitelisted it.
SMS_ORANGE_SENDER_ID=
# Orange documentation recommends tel:+2370000 for Cameroon
SMS_ORANGE_SENDER_ADDRESS=tel:+2370000
SMS_ORANGE_AUTH_URL=https://api.orange.com/oauth/v3/token
SMS_ORANGE_AUTHORIZATION_HEADER=
SMS_ORANGE_SEND_URL=https://api.orange.com/smsmessaging/v1/outbound/tel%3A%2B2370000/requests
SMS_ORANGE_CLIENT_ID=replace-with-orange-client-id
SMS_ORANGE_CLIENT_SECRET=replace-with-orange-client-secret

# If your offer is Orange Only, use this instead:
# SMS_ORANGE_SEND_URL=https://api.orange.com/smsmessaging/v1/outbound/tel%3A%2B2370000/requests?resource_type_parameter_management=SMS_OCB2

SMS_MTN_ENABLED=false
SMS_MTN_MODE=demo
SMS_CAMTEL_ENABLED=false
SMS_CAMTEL_MODE=demo
